/* Generali */
:root{
    --white: #fff;
    --lightblue: #B5DDFF;
    --black: #111111;
    --blue: #0183FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-grey: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.debug{
    border: 1px solid black;
    min-height: 50px;
}

body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}

button{
    background-color: var(--blue);
    color: var(--white);
    padding: 14px 60px;
    border: 1px solid var(--blue);
    border-radius: 30px;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.col-2{
    flex-direction: row;
    justify-content: space-between;
}

.col{
    width: 50%;
    flex-direction: column;
    padding-top: 20px;
}



/* header */
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}

.main-menu{
    display: none;
}

header a{
    color: var(--white);
    text-decoration: none;
}


/* main */
#planning, #features, #get-started{
    background-color: var(--purple);
    color: var(--white);
}

#intro{
    padding: 0 2rem;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Intro Section */
.card{
    background-color: var(--lightblue);
    margin-bottom: 1.5rem;
    text-align: center;
    border-radius: 20px;
    padding: 2rem 1rem;
}

.card i, h2{
    color: var(--blue);
}

.card i{
    font-size: 3em;
}

.card h2{
    font-size: 1em;
    padding: 1em 0em;
}

.card p{
    font-size: 0.7em;
    line-height: 1.5em;
}

.card img{
    width: 300px;
}

#intro .card:first-child{
    text-align: left;
}


.col i{
    font-size: 1em;
    color: var(--white);
}

/* Planning Section */
#planning img{
    width: 300px;
}

.col h2{
    color: var(--white);
}

.col-planning{
    background-color: var(--white);
    border-radius: 3rem;
    padding: 2rem;
    flex-direction: column;
    color: var(--black);
    text-align: center;
}

.col-planning h2{
    color: var(--black);
}

/* Testimonials */

.container-testimonial{
    background-color: var(--purple);
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
    color: var(--white);
}

#testimonials{
    text-align: center;
    padding: 3rem 2rem;
    flex-direction: column;
}

#testimonials h2{
    color: var(--purple);
}

.review{
    background-color: var(--purple);
    border-radius: 3rem;
    flex-direction: column;
    padding: 2rem;
    color: var(--white);
}

.img-testiomonial{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-1{
    background-image: url(../img/testimonial1.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-2{
    background-image: url(../img/testimonial2.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-3{
    background-image: url(../img/testimonial3.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* footer */
footer{
    background-color: var(--dark-grey);
}

/* Responsive */
@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }
    #intro .cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
    }
}

@media screen and (min-width: 992px){

}