/* Generals */
:root{
    --white: #fff;
    --lightblue: #B5DDFF;
    --black: #111111;
    --blue: #0183FD;
    --yellow: #FDC15F;
    --purple: #9792E4;
    --dark-grey: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}

button{
    padding: 10px 40px;
    border-radius: 30px;
}

.btn-blue{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    margin-bottom: 2rem;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 0rem;
    text-align: center;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

h2{
    font-size: 42px;
}

H3{
    font-weight: 300;
    font-size: 25px;
}

h6{
    font-weight: 600px;
    font-size: 20px;
}

p{
    margin: 1rem 0rem;
    line-height: 1.5rem;
}

.col-l{
    margin-bottom: 2rem;
}



/* Header */
header{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}

.menu{
    display: none;
}

header a{
    color: var(--white);
    text-decoration: none;
}

.btn-white{
    background-color: var(--white);
    border: 1px solid var(--white);
}

.btn-white a{
    color: var(--dark-grey);
}

/* Main */
#planning, #features, #get-started{
    background-color: var(--purple);
    color: var(--white);
}

section{
    padding-top: 4rem 0rem;
}


/* Intro Section */
#intro{
    padding: 0 2rem;
}

.card{
    background-color: var(--lightblue);
    margin-bottom: 1.5rem;
    text-align: center;
    border-radius: 20px;
    padding: 2rem 1rem;
    text-align: center;
}

#intro .card i, #intro .card h2{
    color: var(--blue);
}

.card i{
    font-size: 5em;
}

.btn-blue i{
    color: var(--white);
    font-size: 1rem;
}

.btn-blue{
    color: var(--white);
    padding: 0.5rem 4rem;
}

.card p{
    font-size: 0.7em;
    line-height: 1.5em;
}

.card img{
    width: 300px;
}



/* Planning Section */


#planning h2, 
#features h2, 
#get-started h2{
    margin: 2rem 0rem;
}

#planning h2{
    color: var(--white);
}

#planning img{
    width: 300px;
}

.card-white{
    background-color: var(--white);
    color: var(--black);
    margin-bottom: 1.5rem;
    text-align: center;
    border-radius: 20px;
    padding: 2rem 1rem;
    text-align: center;
}


.col-planning{
    background-color: var(--white);
    border-radius: 3rem;
    padding: 2rem;
    flex-direction: column;
    color: var(--black);
    text-align: center;
}

.card-white h2{
    color: var(--dark-grey);
}

#planning .card-white{
    margin: 0rem 1rem;
}

#planning .card-white h2{
    color: var(--purple);
}

#about-us .container{
    margin: 0rem 1rem;
}


/* Testimonials */




.container-testimonial{
    background-color: var(--purple);
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
    color: var(--white);
}

#testimonials{
    text-align: center;
    padding: 3rem 2rem;
    flex-direction: column;
}

#testimonials h2{
    color: var(--purple);
}

#testimonials h3{
    color: var(--dark-grey);
}

.review{
    background-color: var(--purple);
    border-radius: 3rem;
    flex-direction: column;
    padding: 2rem;
    color: var(--white);
}

.img-testiomonial{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-1{
    background-image: url(../img/testimonial1.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-2{
    background-image: url(../img/testimonial2.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-3{
    background-image: url(../img/testimonial3.jpg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Features */
#features{
   background-color: var(--purple);
   padding: 3rem 2rem;
   color: var(--white);
   flex-direction: column;
}

#features .card-white{
    text-align: left;
}

.card-white h2, .card-white h3{
    color: var(--purple);
    font-weight: 700;
}

.btn-purple{
    background-color: var(--purple);
    border: 1px solid var(--purple);
    color: var(--white);
}

.features-card p{
    color: var(--black);
}

/* About Us */
#about-us .container{
    text-align: left;
}

#about-us h2, #about-us h3{
    color: var(--purple);
}

#about-us h3{
    margin: 2rem 0rem;
}

#about-us img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#about-us p{
    margin-bottom: 2rem;
}


/* Get Started */ 
#get-started h4{
    font-weight: 200px;
}

#get-started h2{
    color: var(--yellow);
}

#get-started button{
    color: var(--purple);
    font-weight: 600;
}

/* footer */
footer{
    background-color: var(--dark-grey);
    padding: 3rem 2rem;
    color: var(--white);
    text-align: center;
}

footer p{
    line-height: 2rem;
}

footer a {
    color: var(--purple);
    text-decoration: underline;
}

/* Responsive */

/* Tablet */
@media screen and (min-width: 768px){

    h2{
        font-size: 25px;
    }

    /* Intro Section */
    .container{
        max-width: 1100px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child{
        width: calc(66.66% - 1.5rem);
        text-align: left;
    }

    .btn-blue i {
        color: var(--white);
        font-size: 1rem;
    }

    /* About Section */
    #about-us .row{
        display: flex;
    }

    .row{
        margin: 1rem;
    }

    .row img{
        width: 100%;
    }

    #features .row{
        display: flex;
        flex-wrap: wrap;
    }

    #features .card-white{
        width: calc((100% / 2) - 2rem);
        margin: 1rem;
    }


    #about-us .col-r{
        margin-left: 3rem;
    }

    .container-testimonial{
        text-align: center;
    }
    

}

/* Laptop and Desktop*/
@media screen and (min-width: 992px){

    /* Header */
    .hamburger{
        display: none;
    }

    .menu{
        display: block;
    }

    .menu ul{
        display: flex;
        list-style: none;
    }

    .menu li{
        margin-left: 2rem;
    }

    /* Intro Section */
    #intro .card:first-child{
        display: flex;
        text-align: left;
    }

    #intro .btn-blue i{
        color: var(--white);
    }

    /* Planning Section */
    #planning .row{
        display: flex;
        align-items: flex-end;
    }

    #planning .col-l{
        padding: 3rem;
        text-align: left;
    }

    #planning .col-r img{
        width: 60%;
    }



    .col-l img{
        margin-top: 120px;
    }

    .col-l h2{
        margin-bottom: 100px;
    }

    /* Features */
    #features .row{
        display: flex;
        flex-wrap: wrap;
    }

    #features .card-white{
        width: calc((100% - 6rem) / 3);
        margin: 1rem 1rem;
    }

    #about-us h2, 
    #features h2
    #get-started h2{
        font-size: 50px;
    }

    .card p {
        font-size: 1.2em;
        line-height: 2em;
    }

    #about-us .col-r{
        margin-left: 0rem;
    }

    #about-us .container {
        margin: 0 auto;
    }
    
}
